extends ../layout

block head
	title MelbJS

block styles
	- var cssPath = '/public/css/' + project.name + '-main-' + project.version + '.css';
	link(rel='stylesheet', href='#{cssPath}')
	meta(name='viewport', content='width=device-width, initial-scale=1')

block content
	.bounding

		#header
			a#logo(href='/')
				img(src='/public/img/logo.png', alt='Melb JS')

		a(href='https://github.com/melbjs/melbjs-static')
			img#forkme(src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

		section.next-event

			h2= currentEvent.title === 'MelbJS' ? 'Next event' : currentEvent.title

			if currentEvent.tagline
				p= currentEvent.tagline

			ul
				li
					strong When
					span #{currentEvent.startDate}, #{currentEvent.time}
				li
					strong Where

					if currentEvent.venues.length > 0 && currentEvent.venues[0].address.trim() !== ''
						span #{currentEvent.venues[0].name} - #{currentEvent.venues[0].address} !{a(currentEvent.venues[0].googleMapsUrl, "(view map)")}
					else
						span Venue to be announced. Stay tuned, or !{a('http://twitter.com/melbjs', 'follow us on Twitter')}.

			p
				a.register(href=currentEvent.url) Register for this event at Lanyrd.com

		section.presentations

			h2 Presentations

			if currentEvent.sessions.length === 0
				p We are currently looking for presenters for the next currentEvent. !{a('http://twitter.com/melbjs', 'Contact us if you\'d like to speak')}.
			else
				ul
					each session in currentEvent.sessions
						if session.title !== 'TBA' && session.speakers.length === 1
							- var speaker = session.speakers[0];
							li
								if speaker.twitterHandle
									a(href='http://lanyrd.com/profile/' + speaker.twitterHandle)
										img(src=avatars[speaker.twitterHandle].replace('_normal.', '_bigger.'))
								else
									img.no-avatar(src='http://avatars.io/twitter/melbjs_no_avatar?size=reasonably_small')

								h3
									a(href=session.url)= session.title

								h4 presented by 
									if speaker.twitterHandle
										a(href='http://lanyrd.com/profile/' + speaker.twitterHandle)= speaker.name
									else
										speaker.name

		section

			h2 Keep the conversation going
			ul
				li
					a(href='http://twitter.com/melbjs') Follow or contact us on Twitter
				li
					a(href='https://twitter.com/search/%23melbjs') Use the #MelbJS hashtag
				li
					a(href='http://lanyrd.com/series/melbjs') Follow our series on Lanyrd
				li
					a(href='http://lanyrd.com/series/melbjs/save-to-calendar/') Add our events to your calendar

		section

			h2 Want to be an active part of our community?
			p.
				We are always looking for presentations, and we love nothing more
				than to hear from somebody who has never given a talk before. Have you been
				using an interesting plugin, tool, framework or library? Want to
				get back to basics and teach us some useful JavaScript techniques? Maybe
				you just want to share some of your hard-earned opinions. Whatever it
				is, !{a('http://twitter.com/melbjs', 'contact us on Twitter')} to get involved in an upcoming event.

		section

			h2 Past Presentations (!{a('/videos', 'view all')})

			each video in videos.slice(0, 2)
				iframe.video(src="http://player.vimeo.com/video/#{video}?byline=0&portrait=0&", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)

			p Watch more on !{a('https://vimeo.com/channels/melbjs', 'MelbJS Vimeo Channel')}.